<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <title>Steam API Project</title>
</head>
<body>

    <div class="container-fluid">

    <div class="row">
        <div class="col-6 text-center">
            <form action="/searchId" method="POST">
                <label class="my-3 fs-5" for="name">1. Search Game Name and copy the ID</label>
                <input class="form-control my-3" type="text" name="name">
                <button class="btn btn-danger" type="submit">Search appid</button>
            </form> 
        </div>

        <div class="col-6 text-center">
            <form action="/searchInfo" method="POST">
                <label class="my-3 fs-5" for="appid">2. Paste the ID and see the information</label>
                <input class="form-control my-3" type="text" name="appid">
                <button class="btn btn-success" type="submit">Search Info</button>
            </form>
        </div>
    </div>

    <% if(locals.content) {%>
        <div class="row">
            <div class="col-4 mx-auto my-3">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">App ID</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <% content.forEach(element => {%>
                        <tbody>
                            <tr>
                              <th scope="row"> <%= element.id %> </th>
                              <td> <%= element.name %> </td>
                            </tr>
                          </tbody>
                    <%}); %>
                  </table>
            </div>
        </div>
<% } %>
    
    <% if(locals.name) {%>
        <div class="row">
            <div class="col-12 text-center my-3">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">App ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"> <%= appid %> </th>
                        <td> <%= name %> </td>
                        <td> <%= genre %> </td>
                        <td> <%= price %> </td>
                      </tr>
                    </tbody>
                  </table>
                  <img class="img-fluid my-3 rounded" src=<%= image %> width="720">
            </div>
        </div>        
    <% } %>

</div>
</body>
</html>